extends layout.pug
include utils.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/movie-details.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)

block content
	div(class='movie-details-container')
		div(class='detail-container')

			div(class='movie-title') #{movie.title}
			div(class='movie-poster')
				img(src=movie.poster)
			div(class='movie-details')
				+movieDetail("Release Date", movie.releaseDate)
				+movieDetail("Run Time", `${movie.runTime} min.`)
				+movieDetail("Genres", movie.genres)
				+movieDetail("Director", movie.director)
				+movieDetail("Cast", movie.cast)
				+movieDetail("Country", movie.country)
				+movieDetail("Production Company", movie.productionCompany)
				+movieDetail("Rated", movie.mpaaRating)
				+movieDetail("IMDB Rating", movie.imdbRating)
				+movieDetail("Awards", movie.awards)
				div(class='detail-entry')
					span(class='detail-name') Tag:&nbsp
					a(class='detail-value' href='') #Superheroes

		h2 Reviews:
		div(class='reviews')
			each review in reviews
				div
					h3= review.User.username
					p= review.reviewText
					span= review.createdAt
