extends layout.pug
include utils.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/movie-details.css")
	link(rel="stylesheet" href="/stylesheets/reviews.css")
	link(rel="stylesheet" href="/stylesheets/components/buttons.css")
	link(rel="stylesheet" href="/stylesheets/components/dropdown.css")

	//- add page specific js
	script(src="https://kit.fontawesome.com/258a758bfe.js" crossorigin="anonymous")
	script(src="/javascripts/movie-details.js" type="module" defer)

block content
	div(class='movie-details-container')
		div(class='detail-container')

			div(class='movie-title') #{movie.title}
			div(class='movie-poster')
				img(src=movie.poster)
				div(class='add-to-list-container')
					select(class='dropdown-list' movieId=movie.id)
						each list in movieLists
							option(value=list.id) #{list.name}
					i(class="fas fa-plus add-to-list-button")
			div(class='movie-details')
				+movieDetail("Release Date", movie.releaseDate)
				+movieDetail("Run Time", `${movie.runTime} min.`)
				+movieDetail("Genres", movie.genres)
				+movieDetail("Director", movie.director)
				+movieDetail("Cast", movie.cast)
				+movieDetail("Country", movie.country)
				+movieDetail("Production Company", movie.productionCompany)
				+movieDetail("Rated", movie.mpaaRating)
				+movieDetail("IMDB Rating", movie.imdbRating)
				+movieDetail("Awards", movie.awards)
				div(class='detail-entry')
					span(class='detail-name') Tag:&nbsp
					a(class='detail-value' href='') #Superheroes

		h2 Reviews:
		div(class='reviews')
			if !ownReview
				h3 Add Review
				form(method="post" action=`/reviews/${movie.id}`)
					input(type="hidden" name="_csrf" id="_csrf" value=csrfToken)
					textarea(rows="5" id="reviewText" name="reviewText" placeholder="Add your review here...")
					button(type="submit" class="buttonPrimary") Add Review
			else
				div(class='own-review-header')
					h3 Your Review
					i(class="fas fa-pencil-alt own-review-icon" id='edit-review-button' movieId=`${movie.id}`)
					i(class="far fa-trash-alt" id='delete-review-button' class='own-review-icon' movieId=`${movie.id}`)
				div(class='review own-review')
					h3(class='username own-review-username')= ownReview.User.username
					p(class='reviewText own-review-text')= ownReview.reviewText
					span(class='date own-review-date')= ownReview.reviewDate
			h3 All Reviews
			each review in reviews
				div(class='review' )
					h3(class='username')= review.User.username
					p(class='reviewText')= review.reviewText
					span(class='date')= review.reviewDate

