mixin formField(labelText, name, value, fieldType = 'text', placeholder = null, required="required")
		div(class='form-group')
				input(type=fieldType id=name name=name value=value placeholder=placeholder class='form-control')

mixin errors(errors)
		if errors
			ul
				each error in errors
					li= error

mixin movieDisplay(movie)
	div(class='movie-container')
		div(class='poster-container')
			img(src=movie.poster class='poster-image')
		div(class='movie-title')
			a(href=`/movies/${movie.id}`) #{movie.title}
		div(class='movie-info')
			span(class='movie-length') #{movie.runTime} min.&nbsp
			span(class='movie-releaseDate') #{movie.releaseDate}

mixin movieListTable(movieList, isAllList)
	each movie in movieList.Movies
		tr
			td(class='posterCell')
				a(href=`/movies/${movie.id}`)
					img(src=movie.poster class='moviePoster')
			td(class='titleCell')
				a(href=`/movies/${movie.id}` class='movieLink') #{movie.title}
			td #{movie.runTime} min.
			td= movie.releaseDate
			td= movie.imdbRating
			td
				if !isAllList
					i(class="far fa-trash-alt" listId=movieList.id movieId = movie.id)
				else 
					i(class="fas fa-plus" listId=movieList.id movieId=movie.id)
